<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.hqrt.robotchatdetails.mapper.HqrtRobotChatdetailsMapper">
    
	<sql id="hqrtRobotChatdetailsColumns">
		a.id AS "id",
		a.rowguid AS "rowguid",
		a.rowdatetime AS "rowdatetime",
		a.sessionid AS "sessionid",
		a.customerid AS "customerid",
		a.customername AS "customername",
		a.customermobile AS "customermobile",
		a.customerprovince AS "customerprovince",
		a.queueid AS "queueid",
		a.queuename AS "queuename",
		a.requestcontext AS "requestcontext",
		a.responsecontext AS "responsecontext",
		a.responseno AS "responseno",
		a.responsenodesc AS "responsenodesc",
		a.faqid AS "faqid",
		a.faqroot AS "faqroot",
		a.faqmodel AS "faqmodel",
		a.faqserialno AS "faqserialno",
		a.faqtitle AS "faqtitle",
		a.faqcreaterid AS "faqcreaterid",
		a.faqcreatername AS "faqcreatername",
		a.faqcreatedatetime AS "faqcreatedatetime",
		a.satisfyno AS "satisfyno",
		a.satisfydesc AS "satisfydesc",
		a.messagedatetime AS "messagedatetime",
		a.originalsessionid AS "originalsessionid"
	</sql>
	
	<sql id="hqrtRobotChatdetailsJoins">
		
	</sql>
	
    
	<select id="get" resultType="HqrtRobotChatdetails" >
		SELECT 
			<include refid="hqrtRobotChatdetailsColumns"/>
		FROM hqrt_robot_chatdetails a
		<include refid="hqrtRobotChatdetailsJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="HqrtRobotChatdetails" >
		SELECT 
			<include refid="hqrtRobotChatdetailsColumns"/>
		FROM hqrt_robot_chatdetails a
		<include refid="hqrtRobotChatdetailsJoins"/>
		<where>
			
			${dataScope}
			<if test="rowguid != null and rowguid != ''">
				AND a.rowguid = #{rowguid}
			</if>
			<if test="rowdatetime != null and rowdatetime != ''">
				AND a.rowdatetime = #{rowdatetime}
			</if>
			<if test="sessionid != null and sessionid != ''">
				AND a.sessionid = #{sessionid}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="HqrtRobotChatdetails" >
		SELECT 
			<include refid="hqrtRobotChatdetailsColumns"/>
		FROM hqrt_robot_chatdetails a
		<include refid="hqrtRobotChatdetailsJoins"/>
		<where>
			
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO hqrt_robot_chatdetails(
			rowguid,
			rowdatetime,
			sessionid,
			customerid,
			customername,
			customermobile,
			customerprovince,
			queueid,
			queuename,
			requestcontext,
			responsecontext,
			responseno,
			responsenodesc,
			faqid,
			faqroot,
			faqmodel,
			faqserialno,
			faqtitle,
			faqcreaterid,
			faqcreatername,
			faqcreatedatetime,
			satisfyno,
			satisfydesc,
			messagedatetime,
			originalsessionid
		) VALUES (
			#{rowguid},
			#{rowdatetime},
			#{sessionid},
			#{customerid},
			#{customername},
			#{customermobile},
			#{customerprovince},
			#{queueid},
			#{queuename},
			#{requestcontext},
			#{responsecontext},
			#{responseno},
			#{responsenodesc},
			#{faqid},
			#{faqroot},
			#{faqmodel},
			#{faqserialno},
			#{faqtitle},
			#{faqcreaterid},
			#{faqcreatername},
			#{faqcreatedatetime},
			#{satisfyno},
			#{satisfydesc},
			#{messagedatetime},
			#{originalsessionid}
		)
	</insert>
	
	<update id="update">
		UPDATE hqrt_robot_chatdetails SET 	
			rowguid = #{rowguid},
			rowdatetime = #{rowdatetime},
			sessionid = #{sessionid},
			customerid = #{customerid},
			customername = #{customername},
			customermobile = #{customermobile},
			customerprovince = #{customerprovince},
			queueid = #{queueid},
			queuename = #{queuename},
			requestcontext = #{requestcontext},
			responsecontext = #{responsecontext},
			responseno = #{responseno},
			responsenodesc = #{responsenodesc},
			faqid = #{faqid},
			faqroot = #{faqroot},
			faqmodel = #{faqmodel},
			faqserialno = #{faqserialno},
			faqtitle = #{faqtitle},
			faqcreaterid = #{faqcreaterid},
			faqcreatername = #{faqcreatername},
			faqcreatedatetime = #{faqcreatedatetime},
			satisfyno = #{satisfyno},
			satisfydesc = #{satisfydesc},
			messagedatetime = #{messagedatetime},
			originalsessionid = #{originalsessionid}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM hqrt_robot_chatdetails
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE hqrt_robot_chatdetails SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="HqrtRobotChatdetails" statementType="STATEMENT">
		select * FROM hqrt_robot_chatdetails  where ${propertyName} = '${value}'
	</select>
	
</mapper>